.navbar {
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    gap: 30px;
    font-family: 'Times New Roman', Times, serif;
}
body {
  font-family: 'Times New Roman', Times, serif;
}
.navbar-nav {
    gap: 30px;
    font-size: 16px;
  }
  .nav-link {
    color: black !important;
  }
.navbar .nav-link:hover .nav-link.active {
  color: rgb(0, 0, 0) !important;
}
.text-center {
  padding-left: 15vw;
  padding-right: 15vw;
}
.custom-toggler {
  border: none;
}
.contents {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.custom-toggler:focus {
  outline: none;
  box-shadow: none;
}
.toggler-icon {
  display: block;
  width: 25px;
  height: .5px;
  background-color: black;
  margin-bottom: 5px;
  transition: all 0.3s ease;
}