{% extends "pages-index.html" %}

{% block content %}
<style>
  body {
    margin: 0;
  }

  .post-feed {
    text-align: left;
    font-size: 18px;
    padding: 30px 0;
    
  }

  .post {
  padding: 10px 0;
  align-items: flex-start;
}

  .featured-img img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .post-preview {
  overflow: hidden;
  max-height: 3.6em;       /* ~2 lines */
  line-height: 1.3em;
  display: -webkit-box;
  -webkit-line-clamp: 2;  /* number of lines */
  -webkit-box-orient: vertical;
  font-size: 18px;
}

.post-title {
    font-size: 24px;
    line-height: 1.5;
}

.post-title a {
    color: black;
    text-decoration: none;
}

.country-tag {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    top: 10px;   /* adjust 2–6px until it feels perfect */
}

.date-tag {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 2;
    position: relative;
    top: 10px;   /* adjust 2–6px until it feels perfect */
}
</style>

<div class="container" style="text-align:left; padding: 80px 200px; ">
  <nav class="navbar navbar-expand-lg navbar-light" style="padding-left:0;height: 40px">
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="toggler-icon"></span>
      <span class="toggler-icon"></span>
      <span class="toggler-icon"></span>
    </button>

    <div class="navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" style="padding-left: 0 !important;" href="/portfolio/globalpost">Global Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Journal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Offline</a>
        </li>
      </ul>
    </div>
  </nav>
  <hr style="background-color:#000; border-width:1px; margin:0;">
  <hr style="background-color:#000; border-width:1px; margin-top:2px;">

  <h1 style="font-size:80px; font-weight: bold; line-height:150px;">{{ header_text }}</h1>
  <h1 style="font-style:italic; font-size:35px; line-height: 40px;">{{ subheader_text|safe }}</h1>

  <div class="container" style="text-align:left; padding:0;">
    <div class="post-feed">
      <br>

      {% for post in posts %}
      <hr style="background-color:#000;">

        <div class="row post">
          <!-- LEFT COLUMN: country + date -->
          <div class="col-12 col-md-2">
            <div style="text-align:start; ">
                
              <div class="country-tag">{{ post.country | striptags }}</div>
              <div class="date-tag">{{ post.date }}</div>
              <br>
            </div>
          </div>

          <!-- RIGHT COLUMN: title + preview -->
          <div class="col-12 col-md-10" id="underline_hover">
            <div class="post-title">
            <a href="{{ request.path }}post/{{ post.filename }}">
              {{ post.title | striptags }}
            </a>    
            </div>
            <div class="post-preview">
                {{ post.preview_html | striptags | truncate(200, True) }}
              </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
